<a href="https://colab.research.google.com/github/npawar8050/HackerrankBasics/blob/main/Basic_problems_HACKERRANK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Given a list "A" of "n" integers, write a function to get list "FinalList" 
# that contaions n numbers of lists having table for the integers in the list "A"
# Example: A=[1,2,3]
# Return: [[1,2,3,4,5,6,7,8,9,10],[2,4,6,8,10,12,14,16,18,20],[3,6,9,12,15,18,21,24,27,30]]
A=[1,2,3]
B =[]
for i in A:
  B1=[]
  for j in range(1,11):
    j=j*i
    B1.append(j)
  B.append(B1)
print(B)

[[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30]]

In [ ]:
# Given a string "s". Return a string with every digit given in a string replaced with " symbol
import re
s="I have 4 apples; you can have 3 of them"
nums = r'[0-9]'
z=re.sub(nums, '"', s)
print(z)

I have " apples; you can have " of them

In [ ]:
# Given a list "MyList", write a function to get a list, where, 
# every integer poresent in "MyList" will be replaced by it's square and
# every string present in  "MyList" will be replaced by it's length.
# If anything else is present in "MyList", it should remain as it is.
# Example: MyList=[4,13,"Python",3.5,"OMG"]
# Return:  [16,169, 6, 3.5, 3]

def intToSquare_strToLength(MyList):
    l=[]
    for i in MyList:
        if type(i)==int:
            l.append(i*i)
        elif type(i)==str:
            l.append(len(i))
        else:
            l.append(i)

    return l
    #return [(i*i) if type(i)==int else(len(i) if type(i)==str else i) for i in MyList]
    
MyList=[4, 13, "Python", 3.5, "OMG"]
print(intToSquare_strToLength(MyList))

[16, 169, 6, 3.5, 3]

In [ ]:
#Write a program that asks the user for a weight in kilograms and 
# converts it to pounds. There are 2.2 pounds in a kilogram.
j= float(input("Your weight is: "))
print("Equal to pound: ", j*2.2)

Your weight is: 65.32
Equal to pound:  143.704

In [ ]:
# Write a program that asks the user to enter three numbers 
# (use three separate input statements). Create variables called
# total and average that hold the sum and average of the three 
# numbers and print out the values of total and average.
a=int(input("Enter 1st number:"))
b=int(input("Enter 2st number:"))
c=int(input("Enter 3st number:"))
print("Total is, ", a+b+c, "and average is, ", (a+b+c)/3 )

Enter 1st number:2
Enter 2st number:5
Enter 3st number:9
Total is,  16 and average is,  5.333333333333333

In [ ]:
# Write a program that prints letters A to Z on the same line. 
# Don't write stupid like print("ABCD....Z")
import string
for i in string.ascii_uppercase:
   print(i, end ="")

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [ ]:
# Write a program that uses a for loop to print the numbers 
#8, 11, 14, 17, 20, . . . , 83, 86, 89.
for i in range(8,91,3):
  print(i, end =",")

8,11,14,17,20,23,26,29,32,35,38,41,44,47,50,53,56,59,62,65,68,71,74,77,80,83,86,89,

In [ ]:
# Write a program that prints letters A to Z on the same line. 
# Don't write stupid like print("ABCD....Z")
for i in range(65, 91):
   print(chr(i), end =" ")
print("\n",chr(45))
print(ord("a"))

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z
 -
97

In [ ]:
'''
Two children, Lily and Ron, want to share a chocolate bar. Each of the squares has an integer on it.

Lily decides to share a contiguous segment of the bar selected such that:

    The length of the segment matches Ron's birth month, and,
    The sum of the integers on the squares is equal to his birth day.

Determine how many ways she can divide the chocolate.
Example: 
5
1 2 1 3 2
3 2'''
import math
import os
import random
import re
import sys

def birthday(s, d, m):
    counter = 0
    for i in range(len(s)):
        if sum(s[i: (i+m)]) == d:
            counter +=1 
    return counter

if __name__ == '__main__':
    n = int(input().strip())
    s = list(map(int, input().rstrip().split()))
    first_multiple_input = input().rstrip().split()
    d = int(first_multiple_input[0])
    m = int(first_multiple_input[1])
    result = birthday(s, d, m)
    print(result)

5
1 2 1 3 2
3 2
2

In [ ]:
# Write a Python program to calculate the hypotenuse of a right angled triangle.
import math
a = float(input("Type length of one side of the triangle:"))
b = float(input("Type length of 2nd side of the triangle:"))
c = math.sqrt((a*a)+(b*b))
print(c)

Type length of one side of the triangle:5
Type length of 2nd side of the triangle:4
6.4031242374328485

In [ ]:
# Write a Python program to convert all units of time into seconds.
import time
a = "12:12:12"

In [ ]:
# 66. Write a Python program to calculate body mass index.
a = float(input("Write your weight in kg: "))
b = float(input("Write your weight in meters: "))
BMI = a/(b*b)
print("Body Mass Index is:", BMI)
#A BMI of 25.0 or more is overweight, while the healthy range is 18.5 to 24.9.
if BMI >=25:
  print("You are overweight")
elif BMI <=18.4:
  print("You are underweight")
else:
  print("You are FITTA")

Write your weight in kg: 64
Write your weight in meters: 1.64592
Body Mass Index is: 23.624494741749732
You are FITTA

In [ ]:
# 68. Write a Python program to calculate the sum of the digits in an integer.
import re
a = input("Type an integer: ")
sum = 0
for  i in a:
  sum += int(i)
print(sum)

Type an integer: 43
7

In [ ]:
# 35. Write a Python program that will return true if the two given integer values are equal or their sum or difference is 5. 
a = int(input(""))
b = int(input(""))
c = a+b
if a==b or (a-b)==5 or (a+b)==5:
  print(True)
else:
  print(False)

4
4
True

In [ ]:
# Given an array of integers and a positive integer , determine the number of pairs where and + is divisible by
# 
#Given an array of integers and a positive integer k, determine the number of (i,j) pairs where i<j and ar[i]+ ar[j] is divisible by l.
#Example
# 
#ar = [1,2,3,4,5,6]
#k = 5
#Three pairs meet the criteria: [1,4], [2,3] and [4,6]. 
#
#STDIN           Function
#-----           --------
#6 3             n = 6, k = 3
#1 3 2 6 1 2     ar = [1, 3, 2, 6, 1, 2]
#
#Sample Output

 def divisibleSumPairs(n, k, ar):
    # Write your code here
    count = 0
    for i in range(n-1):
        j = i+1
        while j < n:
            if ((ar[i] + ar[j]) % k) == 0:
                count += 1
            j += 1
    return count

SyntaxError: ignored

In [ ]:
# Migratory Birds
# Given an array of bird sightings where every element represents a bird type id, determine the id of the most frequently sighted type. 
# If more than 1 type has been spotted that maximum amount, return the smallest of their ids.
# Example
# arr = [1,1,2,2,3]
# There are two each of types 1 and 2, and one sighting of type 3. Pick the lower of the two types seen twice: type 1
# migratoryBirds has the following parameter(s):
#    int arr[n]: the types of birds sighted
def migratoryBirds(arr):
    x=list(set(arr))
    y=sorted([(arr.count(i),i) for i in x], key=lambda x:x[0])[::-1]
    for i in range(len(y)):
        if y[0][0]==y[1][0] and y[0][1]>y[1][1]:
            return y[1][1]
        else:
            return y[0][1]

28] (w3resource) Write a Python program to print all even numbers from a given numbers list in the same order and stop the printing if any numbers that come after 237 in the sequence. <br>
Sample numbers list :

numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]

In [ ]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958,743, 527 ]
for n in numbers:
  if n == 237:
    print(n)
    break;
  elif n%2==0:
    print(n, end=" ")

386 462 418 344 236 566 978 328 162 758 918 237

In [ ]:
# Write a function to find the roots of the quadratic equation: ax^ 2 +bx+c=0. 
# The function should return a tuple containing roots in any order. If the equation has only one solution, 
# the function should return that solution as both elements of the tuple. 
# The roots of the quadratic equation can be found with the formula:
# X= (-b(+-)âˆš((b^2)-4ac))/2a
# For example, find_roots(2, 10, 8) should return (-1, -4) or (-4, -1) as the roots of the equation 2x ^ 2 + 10x + 8 = 0 are -1 and -4.

# Python program to find roots
# of a quadratic equation

import math
def findRoots(a, b, c):
    j=()
    j1=list(j)
    if a == 0:
        print("Invalid")
        return -1
    d = b * b - 4 * a * c
    sqrt_val = math.sqrt(d)
    if d > 0:
        j1.append((-b + sqrt_val)/(2 * a))
        j1.append((-b - sqrt_val)/(2 * a))
        j=tuple(j1)
        print(j)
a = 2
b = 10
c = 8

findRoots(a, b, c)

(-1.0, -4.0)

In [ ]:
# LIST COMPREHENSIONS, SET COMPREHENSIONS AND DICTIONARY COMPREHENSIONS

numbers = []
for i in range(1,6):
  numbers.append(2**i)
print(numbers)
###################
print([2**i for i in range(1,6)]) #list comprehension
############
#if loop with for liip in list comprehension
import math
n = [49,64,81,100,121]
new_list=[math.sqrt(i) for i in n if i%2==0]
print(new_list)
############################
#Multiple for loops in list comprehension
team1=["gfd","gfds","trersd"]
team2=["rtegrsfe","ewgefadsx","etrhsgefsdwxea"]
new_list2 = [(x,y) for x in team1 for y in team2]
print(new_list2)
############################
#List comprehension within list comprehension
# Nested list comprehension
matrix = [[j for j in range(5)] for i in range(5)]
print(matrix)
############################
# Set comprehension
word = "Programming"
alphabates = {x for x in word}
print(alphabates)
############################
# Dictionary comprehension
n2 = [1,2,3,4,5]
'''square_dict = dict()
for num in n2:
  square_dict[num] = num**2
print(square_dict)'''
print({num:num**2 for num in n2})
############################
old_price = {"milk":20, "coffee":15,"Bread":18}
new_price = {key: value*1.5 if value > 18 else value for (key, value) in old_price.items()}
print(new_price)

[2, 4, 8, 16, 32]
[2, 4, 8, 16, 32]
[8.0, 10.0]
[('gfd', 'rtegrsfe'), ('gfd', 'ewgefadsx'), ('gfd', 'etrhsgefsdwxea'), ('gfds', 'rtegrsfe'), ('gfds', 'ewgefadsx'), ('gfds', 'etrhsgefsdwxea'), ('trersd', 'rtegrsfe'), ('trersd', 'ewgefadsx'), ('trersd', 'etrhsgefsdwxea')]
[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]
{'n', 'g', 'r', 'P', 'a', 'o', 'i', 'm'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{'milk': 30.0, 'coffee': 15, 'Bread': 18}

In [ ]:
#LAMBDAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

x = lambda a: a+10
print(x(5))
###############################
def myfunc(n):
  return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

15
22

In [ ]:
# MAP FILTER REDUCE

my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = []
for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)
print(uppered_pets)
###############################
my_pets = ['alfred', 'tabitha', 'william', 'arla']
uppered_pets = set(map(str.upper, my_pets))
print(uppered_pets)
###############################
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4]
results = dict(zip(my_strings, my_numbers))
print(results)
###############################
my_strings = ['a', 'b', 'c', 'd', 'e']
my_numbers = [1,2,3,4,5]
results = dict(map(lambda x, y: (x, y), my_strings, my_numbers))
print(results)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']
{'TABITHA', 'ARLA', 'WILLIAM', 'ALFRED'}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
#### Map
from functools import reduce 

my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]
my_numbers = [4, 6, 9, 23, 5]

map_result = list(map(lambda x: round(x ** 2, 2), my_floats))
filter_result = list(filter(lambda name: len(name) <= 7, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

print(map_result)
print(filter_result)
print(reduce_result)

[18.92, 37.09, 10.56, 95.45, 4.67, 78.85, 21.07]
['olumide', 'josiah', 'omoseun']
24840

In [ ]:

my_numbers = [1,2,3,4,5]
mapp = list(map(lambda x: x**2, my_numbers))
filterr = list(filter(lambda even: even%2==0, my_numbers))
reducee = reduce(lambda sum1, sum2:sum1 + sum2, my_numbers)
reducee

15

In [ ]:
# FIBONASCCI
class Mathss:
    def __init__(self):
        pass

    def fibonacci(self,n):
        # print(n)
        if n == 0:
            return 0
        elif n == 1 or n == 2:
            return 1
        else:
            return self.fibonacci(n-1) + self.fibonacci(n-2)

    def factorial(self,n):
      if (n==1 or n==0):
        return 1
      else:
        return (n * self.factorial(n - 1))

if __name__=="__main__":
    while(True):
      Rodger = Mathss()
      inn = input("What you wanna run? :")
      if inn == "fibonacci":
        fibonacci = int(input("enter the number: "))
        print(Rodger.fibonacci(fibonacci))
      elif inn == "factorial":
        factorial = int(input("enter the number: "))
        print(Rodger.factorial(factorial))
      else:
        print("bye bye")
        break

What you wanna run? :factorial
enter the number: 8
40320
What you wanna run? :fds
bye bye

In [ ]:
print('''
rgbvf 
      erg erb er  
ererver''')

rgbvf
      erg erb er
ererver

In [ ]:
# CALCULATOR
class Mathss:
    def __init__(self):
        pass

    def summation(self,a,b):
      return self.summation(a) + self.summation(b)

    def subtraction(self,a,b):
      return self.subtraction(a) - self.subtraction(b)

    def multiplication(self,a,b):
      return self.multiplication(a) * self.multiplication(b)

    def division(self,a,b):
      return self.division(a) / self.division(b)

if __name__=="__main__":
    while(True):
      Rodger = Mathss()
      summation = 4,5
      #inn = input("Do simple calculations with two numbers :\n")
      s = list(map(str, input().split()))
      print(s)
      for i in s:
        if i == "+":
          print(Rodger.summation(summation,summation))

      if list.find("+") != -1:
        print(Rodger.summation(summation))
      elif inn == "factorial":
        factorial = int(input("enter the number: "))
        print(Rodger.factorial(factorial))
      else:
        print("bye bye")
        break

4 + 5
['4', '+', '5']

TypeError: ignored

In [ ]:
'''Write a function to print single list of names from given two lists of names. 
Provided that list should not contain repeated names. 
For example if two lists are 
[Nandu, Akash, Abhijit, Sagar, Nandu, Aniket] and [Yogesh, Sagar, Koushal, Ashish, Rahul, Akash, Nikhil], 
then output should be [Nandu, Akash, Abhijit, Sagar, Aniket, Yogesh, Koushal, Ashish, Rahul, Nikhil].'''

4

In [ ]:
l1 = ['Nandu', 'Akash', 'Abhijit', 'Sagar', 'Nandu', 'Aniket']
l2 = ['Yogesh', 'Sagar', 'Koushal', 'Ashish', 'Rahul', 'Akash', 'Nikhil']
l3 = set(l1+l2)
print(list(l3))

['Akash', 'Nandu', 'Rahul', 'Koushal', 'Aniket', 'Ashish', 'Sagar', 'Nikhil', 'Abhijit', 'Yogesh']

In [ ]:
'''The Hurdle Race'''
# [3-10-2021]
import math
import os
import random
import re
import sys

# Complete the 'hurdleRace' function below.
#
# The function is expected to return an INTEGER.
# The function accepts following parameters:
#  1. INTEGER k
#  2. INTEGER_ARRAY height

def hurdleRace(k, height):
    m = max(height)
    if k < m:
        return(m-k)
    else:
        return(0)

if __name__ == '__main__':
    first_multiple_input = input().rstrip().split()
    n = int(first_multiple_input[0])
    k = int(first_multiple_input[1])
    height = list(map(int, input().rstrip().split()))
    result = hurdleRace(k, height)
    print(result)

5 7
2 3 10 6 4
3

In [ ]:
'''Cats and a Mouse'''
# [3-10-2021]
import math
import os
import random
import re
import sys

def catAndMouse(x, y, z):
    if abs(z-x)==abs(z-y):
        return("Mouse C")
    elif abs(z-x)>abs(z-y):
        return("Cat B")
    else:
        return("Cat A")

if __name__ == '__main__':
    q = int(input())
    for q_itr in range(q):
        xyz = input().split()
        x = int(xyz[0])
        y = int(xyz[1])
        z = int(xyz[2])
        result = catAndMouse(x, y, z)
        
    print(result)

2
1 2 3
1 3 2
Mouse C

In [ ]:
'''Number Line Jumps.py '''
# [3-10-2021]
import math
import os
import random
import re
import sys

def kangaroo(x1, v1, x2, v2):
    if (v1>v2) and ((x1-x2)%(v2-v1)) == 0:
        return "YES"
    else:
        return "NO"

if __name__ == '__main__':
    first_multiple_input = input().rstrip().split()
    x1 = int(first_multiple_input[0])
    v1 = int(first_multiple_input[1])
    x2 = int(first_multiple_input[2])
    v2 = int(first_multiple_input[3])
    result = kangaroo(x1, v1, x2, v2)
    print(result)

In [ ]:
'''Designer PDF Viewer '''
# [4-10-2021]
import math
import os
import random
import re
import sys

def designerPdfViewer(h, word):
    maxHeight=0
    for i in range(len(word)):
        if(h[ord(word[i])-97] > maxHeight):
            maxHeight=h[ord(word[i])-97]
    return(len(word)*1*maxHeight)

if __name__ == '__main__':
    h = list(map(int, input().rstrip().split()))
    word = input()
    result = designerPdfViewer(h, word)
    print(result)

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26
nandkumar
189

In [ ]:
'''Day of the Programmer'''
# [4-10-2021]
# The function is expected to return a STRING.
# The function accepts INTEGER year as parameter.

import math
import os
import random
import re
import sys

def dayOfProgrammer(year):
    if year > 1918:
        if year%4==0:
            return "12.09.%s" %year
        else:
            return "13.09.%s" %year
    elif year < 1918:
        if (year%400==0) or (year%4==0 and year%100 != 0):
            return "12.09.%s" %year
        else:
            return "13.09.%s" %year
    else:
        return "26.09.1918"

if __name__ == '__main__':
    year = int(input().strip())
    result = dayOfProgrammer(year)
    print(result)

1918
26.09.1918

In [ ]:
'''If a car starts from A towards B with some velocity.
Due to some problem in the engine after traveling 30km, 
car goes with 4/5 th of its actual velocity The car reaches B 
45min later than the actual time.
But, if the car engine fails after traveling 45km, 
the car reaches the destination B 36min late than the actual time, 
what is the initial velocity of the car and what is the distance 
between A and B in km?'''

import Math
if t == d/v:
  t1 ==

In [ ]:
#CODEWARS
# 7-10-2021
'''Disemvowel Trolls'''
import re
string_="This website is for losers LOL!"
def disemvowel(string_):
  return (re.sub(r'[aeiouAEIOU]','',string_))
print(disemvowel(string_))

Ths wbst s fr lsrs LL!

In [ ]:
#CODEWARS
# 7-10-2021
'''Square Every Digit'''
num = 9119
for i in list(str(num)):
  print(int(i)**2,end="")

811181

In [ ]:
def square_digits(num):
  num = str(num)
  result = ''
  for i in num:
    result +=str(int(i)**2)
  return int(result)
print(square_digits(9119))

811181

In [ ]:
#CODEWARS
# 8-10-2021
'''Duplicate Encoder'''
'''The goal of this exercise is to convert a string to a new string where each 
character in the new string is "(" if that character appears only once in the 
original string, or ")" if that character appears more than once in the original 
string. Ignore capitalization when determining if a character is a duplicate.'''

'''word = "see"
for i in word:
  if word.count(i) > 1:
    print(")",end="")
  else:
    print("(",end="")'''

def duplicate_encode(word):
    result=''
    j = word.lower()
    for i in j:
        if j.count(i) > 1:
            result += ")"
        else:
            result += "("
    return (result)
print(duplicate_encode("Success"))

)())())

In [ ]:
#CODEWARS
# 8-10-2021
'''Exes and Ohs
Check to see if a string has the same amount of 'x's and 'o's.
The method must return a boolean and be case insensitive. The string can contain any char.'''

def xo(s):
  result1 = 0
  result2 = 0
  for i in s:
    if i.lower() == "x":
      result1 += 1
    elif i.lower() == "o":
      result2 += 1
  return result1 == result2
print(xo("xoxxo"))
#######################################
def xo(q):  
  p = q.lower()
  return p.count('x') == p.count('o')
print(xo("xoxo"))

False
True

In [ ]:
#CODEWARS
# 8-10-2021
'''Growth of a Population :-
In a small town the population is p0 = 1000 at the beginning of a year. 
The population regularly increases by 2 percent per year and moreover 50 new 
inhabitants per year come to live in the town. How many years does the town need
to see its population greater or equal to p = 1200 inhabitants?

More generally given parameters:
p0, percent, aug (inhabitants coming or leaving each year), p (population to surpass)
the function nb_year should return n number of entire years needed to get a population greater or equal to p.
aug is an integer, percent a positive or null floating number, p0 and p are positive integers (> 0)'''

def nb_year(p0, percent, aug, p, count=0):
  if (p0 >= p):
    return count
  else:
    count += 1
    return (nb_year((p0 + int(p0*percent/100) + aug), percent, aug, p, count)) # int because answer shoulf be in full year not fractional.
#print(d)
print(nb_year(1500, 5, 100, 5000))

15

In [ ]:
#CODEWARS
# 9-10-2021
'''RGB To Hex Conversion

The rgb function is incomplete. Complete it so that passing in RGB decimal values
will result in a hexadecimal representation being returned. Valid decimal values 
for RGB are 0 - 255. Any values that fall out of that range must be rounded to the closest valid value.

Note: Your answer should always be 6 characters long, the shorthand with 3 will not work here.

The following are examples of expected output values:

rgb(255, 255, 255) # returns FFFFFF
rgb(255, 255, 300) # returns FFFFFF
rgb(0,0,0) # returns 000000
rgb(148, 0, 211) # returns 9400D3
'''

'RGB To Hex Conversion\n\nThe rgb function is incomplete. Complete it so that passing in RGB decimal values\nwill result in a hexadecimal representation being returned. Valid decimal values \nfor RGB are 0 - 255. Any values that fall out of that range must be rounded to the closest valid value.\n\nNote: Your answer should always be 6 characters long, the shorthand with 3 will not work here.\n\nThe following are examples of expected output values:\n\nrgb(255, 255, 255) # returns FFFFFF\nrgb(255, 255, 300) # returns FFFFFF\nrgb(0,0,0) # returns 000000\nrgb(148, 0, 211) # returns 9400D3\n'

In [ ]:
#CODEWARS
# 9-10-2021
'''Multiples of 3 or 5'''

def solution(number):
  d = 0
  i = 0
  for i in range(number):
    if i%3 == 0 or i%5 == 0:
      #print(i)
      d = i+i
  return d
print(solution(10))

18

In [ ]:
#CODEWARS
# 9-10-2021
'''Create Phone Number:
Write a function that accepts an array of 10 integers (between 0 and 9), 
that returns a string of those numbers in the form of a phone number.
Example

create_phone_number([1, 2, 3, 4, 5, 6, 7, 8, 9, 0]) # => returns "(123) 456-7890"'''

def create_phone_number(n):
    a = b = c= ""
    for i in range(len(n)):
        if i < 3:
            a += str(n[i])
        elif 3 <= i < 6:
            b += str(n[i])
        else:
            c += str(n[i])
    return "(" + a + ") " + b + "-" + c
print(create_phone_number([8,1,4,9,1,6,8,0,4,2]))

(814) 916-8042

In [ ]:
#CODEWARS
# 9-10-2021
'''Counting Duplicates'''

def duplicate_count(text):
  d = 0
  for char in set(text.lower()):
    if text.lower().count(char) > 1:
      d = d+1
  return d
print(duplicate_count("abcdeaB"))

2

In [ ]:
def duplicate_count(text):
  return len([c for c in set(text.lower()) if text.lower().count(c)>1])
print(duplicate_count("abcdeaB"))

2

In [ ]:
def walk_home(str):
    d=0
    for i in str:
        if i == "n" or i == "e":
            d=d+1
        elif i == "s" or i == "w":
            d=d-1
        if d == 0:
            return True
        else:
          return False
print(walk_home("news"))

1
1
False

In [ ]:
'''Twice as old'''

def twice_as_old(dad_years_old, son_years_old):
  return abs(dad_years_old-son_years_old*2)
print(twice_as_old(64,30))

4

In [ ]:
def even_numbers(arr,n):
    p=[]
    for i in arr:
        if i%2==0:
            p.append(i)
    for j in range(len(p)):
      return p[-n:]
print(even_numbers([-22, 5, 3, 11, 26, -6, -7, -8, -9, -8, 26], 2))

[-8, 26]

In [ ]:
def even_numbers(arr,n):
    return [i for i in arr if i % 2 == 0][-n:] 
print(even_numbers([-22, 5, 3, 11, 26, -6, -7, -8, -9, -8, 26], 2))

[-8, 26]

In [ ]:
def number(bus_stops):
  return sum(inn - out for inn, out in bus_stops)
print(number([[10,0],[3,5],[5,8]]))

5

In [ ]:
def all_perms(elements):
  if len(elements) <=1:
    yield elements
  else:
    for perm in all_perms(elements[1:]):
      print(perm)
      for i in range(len(elements)):
        # nb elements[0:1] works in both string and list contexts
        yield perm[:i] + elements[0:1] + perm[i:]
        return elements
print(all_perms([1,2,3]))

<generator object all_perms at 0x7fd97c640ad0>

In [ ]:
def n_length_combo(lst, n):
    if n == 0:
        return [[]]
    l =[]
    for i in range(0, len(lst)):
        m = lst[i]
        remLst = lst[i + 1:]
        for p in n_length_combo(remLst, n-1):
            l.append([m]+p)
    return l
print(n_length_combo(['a','b','c'], 2))

[['a', 'b'], ['a', 'c'], ['b', 'c']]

In [ ]:
def remove(s):
  r = s.count("!")
  #print(r)
  p = s.split("!")
  q = "".join(p)+"!"*r
  return q
print(remove("Hi! Hi! Hi!"))

Hi Hi Hi!!!